* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 5% 1fr 5%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav span {
  padding: 2em;
}

footer {
  display: flex;
  justify-content: center;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
}

section {
  min-width: 100vw;
  height: 100%;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}